/* Orange Color CSS */
.color, a{
	color:#e97900;
}
h1, h2, h3, h4, h5, h6 {
    color: #76af45;
    font-weight: 400;
}
h2 {
	border-bottom: 1px solid #e97900;
}
.textcolor {
	color: #444;
}
a:hover{
	color:#cc412a;
	text-decoration: none;
}

.navbar{
	background: #e97900 !important;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
   border-color: #e75f48;
}

.navbar button{
	background:#cc412a !important;  
}

.navbar button:hover{
	background:#cc412a !important;
}

.navbar .nav{
}

.navbar .nav > li > a{
	background: #e97900; 
}

.navbar .nav > li > a:hover{
	background:#cc412a !important;
}

.navbar .nav .active > a,
.navbar .nav .active > a:hover,
.navbar .nav .active > a:focus {
	background: #cc412a !important;
}

.dropdown-menu{
	background:#e97900 !important;
	border: 0 none;
}

.dropdown-menu a{
	background:#e97900 !important;
}

.dropdown-menu a:hover,.dropdown-menu a:focus{
	background:#cc412a !important;
}

.social i{
	background:#e97900;
}

.social i:hover{
	background:#cc412a;
}

.service i{
	color:#e97900;
}

/* Timeline */

.time .tidate{
background:#e97900;
}

.time .timatter{
border-bottom:2px solid #e97900;
}

/* Events - Accordion*/

.events .accordion-heading h5{
background:#e97900;
}

/* Slider */

.da-slider{
border-top: 4px solid #e97900;
border-bottom: 4px solid #e97900;
}

.da-slide h2{
color:#e97900;
}

.da-slide .da-link{
background:#e97900;
}

/* Testimonial */

.test{
border-bottom:2px solid #e97900;
}

.test-arrow{
border-top-color: #e97900;
}

/* Feature alt */

.afeature:hover{
border:5px solid #e97900;
}

.afmatter i{
color:#e97900;
}

.rpost1:hover,.rpost2:hover{
border-bottom:2px solid #e97900;
}

.accordion-heading i{
color:#e97900;
}

.process i{
color:#e97900;
}

.process-meta span{
background:#e97900;
}

.feat h4 i{
color:#e97900;
}

.content ul li{
background-image:url('../img/list-o.png');
}

.blog .meta i{
color:#e97900;
}

.posts .tags a{
background:#e97900;
border:1px solid #cc412a;
border-bottom:3px solid #cc412a;
}

.posts .tags a:hover{
border-bottom:3px solid #e97900;
background:#cc412a;
border:1px solid #cc412a;
}

.paging a:hover{
background: #e97900;
border:1px solid #cc412a;
}

.paging .current{
background: #e97900;
border:1px solid #cc412a;
}

.serv .simg i{
color:#e97900;
}


.button a, .button a:visited{
background:#e97900;
border-bottom:2px solid #cc412a;
}

.button a:hover{
background:#cc412a;
}

.pricel .phead-top{
background:#e97900;
border:1px solid #cc412a;
}

.pricel .phead-bottom{
border-top:1px solid #cc412a;
}

.nav-tabs > li > a:hover{
background:#e97900;
}

.about .asocial i{
background:#e97900;
}

.resume h4{
background:#e97900;
}

.resume h5{
color:#e97900;
}

footer{
border-top:3px solid #e97900;
}

footer ul li{
background-image:url('../img/list-o.png');
}

/* Plone UI *******************/
#portal-personaltools dd {
    background-color: #AD3A36;
}
#portal-personaltools dd a,
#portal-personaltools dt a{
    color: #000;
}

.panel-primary {
    border-color: #e97900;
}
.panel-primary .panel-heading, 
.panel-primary .panel-footer {
    background-color: #e97900;
    color: #fff;
}

.panel-primary > .panel-heading {
    border-color: #e97900;
 }

 .right-line {
    color: #76af45;
}

.btn-primary {
    background-color: #76af45;
    border-color: #76af45;
    color: #ffffff;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
	background-color: #e97900;
	border-color: #76af45;
}